.our-friends {
    padding: 5rem 0;
    background: #f5f5f5;
    text-align: center;

    .our-title  {
        margin: 2rem 0;
        h1 {
            font-size: 3rem;
            font-weight: bold;
            color: #333;    
        }
            
    }

    .our-friends-info {
        display: flex;
        justify-content: center;
        position: relative;

        .owl-prev {
            position: absolute;
            outline: none;
            top: 40%;
            left: -5rem;
            
            span {
                width: 57px;
                height: 55px;
                border-radius: 50%;
                display: inline-block;
                background: #ffd57b;
                font-size: 3rem;
            }
        }

        .owl-next {
            position: absolute;
            outline: none;
            top: 40%;
            right: -5rem;
            
            span {
                width: 57px;
                height: 55px;
                border-radius: 50%;
                display: inline-block;
                background: #ffd57b;
                font-size: 3rem;
            }
        }

        .our-friends-items {
            width: 300px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
            padding: 1rem;
            margin: 1rem;
            transition: 0.5s;
            cursor: pointer;


            &:hover {
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                transform: translateY(-10px);
            }

            .our-img {
                height: 350px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .our-info {
                padding: 2rem 0;
                h3 {
                    font-size: 1.5rem;
                }
                a {
                    @extend .base-btn;
                    margin-top: 1rem;
                    transition: 0.5s;
                    border: 1px solid transparent;
                    &:hover {
                        background: #fff;
                        border: 1px solid #000;
                    }
                }
            }
        }
        
    }

    .our-btn {
        .btn {
            @extend .base-btn;
            transition: 0.5s;
            border: 1px solid transparent;
            &:hover {
                background: #fff;
                border: 1px solid #000;
            }
        }
    }
}

